.main-lewy {
    width:35%;
    height:600px;
    float:left;
    background-color: #222;
    border-bottom:2px solid #777;/*Tło, obramowanie i wymiary głównego bloku*/
}
.main-lewy img{
    margin:40px;
    width:250px;
    height:250px;/*Ustalenie wymiarów i marginesu dla logo w głównym bloku*/
}
.main-lewy h1{
    font-size: 45px;
}
.main-lewy h3, .main-lewy h1{
    float:left;
    clear:both;
    margin-left:40px;
    margin-top:0;
    margin-bottom: 20px;
}
.main-prawy {/*styl dla bloku prawego*/
    width:65%;
    height:600px;
    float:left;
    background-color: #333;
    border-bottom:2px solid #777;
}
.category-title {/* Użyty dla nazw kategorii*/
    font-size: 35px;
    padding-left:20px;
    padding-right:85%;
    clear:both;
    text-transform: capitalize;/*Zamienia pierwszej litery na dużą*/
}
.film {
    width:170px;
    height:270px;
    background-color: #222;
    border-radius: 30px;
    margin-left:15px;
    margin-bottom:15px;/*Styl dla bloków filmów*/
}
.film img {
    height:200px;
    width:170px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;/*zaokrąglenie górnych rogów*/

}
.film h2 {
    margin-top:15px;
    margin-left:10px;
    font-size:medium;/*Styl dla tytułów w blokach filmów*/
}
.info {
    float:unset;/*styl dla odnośnika w bloku filmu */
}
