.main-lewy {
    width:35%;
    height:600px;
    float:left;
    background-color: #222;
    border-bottom:2px solid #777;
}
.main-lewy img{
    margin:40px;
    width:250px;
    height:250px;
}
.main-lewy h1{
    font-size: 45px;
}
.main-lewy h3, .main-lewy h1{
    float:left;
    clear:both;
    margin-left:40px;
    margin-top:0;
    margin-bottom: 20px;
}
.main-prawy {
    width:65%;
    height:600px;
    float:left;
    background-color: #333;
    border-bottom:2px solid #777;
}
.category-title {
    font-size: 35px;
    padding-left:20px;
    padding-right:85%;
    clear:both;
}
.film {
    width:170px;
    height:270px;
    background-color: #222;
    border-radius: 30px;
    margin-left:15px;
    margin-bottom:15px;
}
.film img {
    height:200px;
    width:170px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}
.film h2 {
    margin-top:15px;
    margin-left:10px;
}
.info {
    float:unset;
}