.main-lewy {
    width:400px;
    height:600px;
    margin-top:80px;
    float:left;
    background-color: #222;
}
.main-prawy {
    width:calc(100% - 400px);
    height:600px;
    margin-top:80px;
    float:left;
}
h2{
    font-size:45px;
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
}
td {
    height:50px;
}
h4 {
    margin:0;
    font-size:20px;
    margin-left:10px;
    float:left;
}
div a, h4 a {
    float:left;
}
.row1{
    height:40px;
    width:100%;
}
.row2 {
    width:200px;
    float:left;
}
.row3 {
     margin-top:15px;
    clear: both;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}
.row4{

}
.rezyser {
    text-align: left;
    width:33%;
}
.gatunek {
    text-align: center;
    width:33%;
}

.popularnosc {
    margin-left:40px;
    margin-right:20px;
    margin-top:10px;
    width:150px;
    height:100px;
    text-align: center;
    vertical-align: baseline;
    font-size: larger;
    float:left;
}
h5 {
    font-size:small;
    vertical-align: bottom;
}
.miejsce {
    transform:translateY(-25px)
}
.podtekst {
    transform:translateY(-65px)
}
.miejsce, .gwiazdy {
    font-size:xx-large;
}.popularnosc, .ocena, .opis {
    background-color: #444;
    border-radius: 20px;
}
.ocena {
    margin-left:40px;
    margin-top:10px;
    width:150px;
    height:100px;
    float:left;
    clear:both;
}
.gwiazdy {
    text-align: center;
}
.opis {
    margin-top:10px;
    margin-left:0;
    float:left;
    height:auto;
    min-width:500px;
    width:70%;
    margin-bottom: 20px;
}

.clearfix {
    clear: both;
}
.opis-tekst {
    padding:15px;
    transform:translateY(-15px)
}
.aktor {
    width:150px;
    height:220px;
    background-color: #444;
    float:none;
    display: inline-block;
    margin-right: 25px;
    margin-left:0;
    border-radius:30px;
    margin-bottom: 20px;
}
.aktor a img {
    width:150px;
    height:160px;
    border-top-left-radius: 30px;
    border-top-right-radius:30px;
}
.aktor a p {
    margin-left:20px;
    font-size: large;
    font-weight: bold;
    transform:translateY(5px)
}
.recenzja {
    background-color: #444;
    border-radius: 30px;
    width:370px;
    height:170px;
    padding:15px;
    margin:20px;
    float:left;
}
.recenzja p {
    margin:0;
}
.konto {
    font-weight: bold;
}
.opinia {
    padding-top:5px;
    line-height: 20px;
    max-width: 370px;;
}
.imie {
    margin-right:90%;
}