table {
    margin:auto;
    width:90%;
    clear:both;
    border-spacing: 0 10px;
}
tr {
  background-color: #444;
}
td{
    text-align: center;
    font-size: larger;
}
td a{
    float:left;
    text-align:left;
    font-weight:bold;
}
.top1 {
    background-color: #da0;
}
.top2 {
    background-color: #999;
}
.top3 {
    background-color: #951;
}/* style dla pierwszych 3 rekordów */
.top1, .top2, .top3, .lower {
    height:80px;
}/* style dla pierwszych 3 rekordów i wszystkich niżej*/
main h1 {
    margin-top:6%;
    margin-left:40px;
}
tr td:first-child, tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* zaokrąglenie (^ lewych / v prawych ) rogów w każdym rzędzie */
tr td:last-child, tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
th {
    font-size:x-large;
    padding:10px;
}
.numcol {
    width:5%;
}
.imgcol {
    width:10%;
}
.nazwacol{
    width:55%;
}
.ocenacol{
    width:10%;
}
.rezcol{
    width:20%
}/* ustalenie szerokości dla każdej kolumny */

.odstep{
    height: 40px;
}/* odstęp od końca strony*/
.filmZdj img{
    width: 500px;
    height: 500px;
    text-align: center;
}